@model CourseWork.Web.Models.Item.ItemViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using CourseWork.Core.AdditionalFields

@inject IViewLocalizer Localizer

<div class="container">
    <div class="row">
        <div class="col-3">
            <form asp-controller="Item" asp-action="AddTag" asp-route-itemId="@Model.Id">
                <div class="w-100 mb-1">
                    @Localizer["Tag"] <input type="text" name="tagName" />
                </div>
                <input type="submit" class="btn btn-danger w-100" value="@Localizer["Add"]" />
            </form>
            <table class="table">
                @foreach (var tag in Model.Tags)
                {
                    <tr>
                        <td>@tag.Name</td>
                    </tr>
                }
            </table>
            </div>
        <div class="col-9">
            <h5>@Model.Name</h5>
            <input type="hidden" asp-for="@Model.Id" />
            @foreach (var field in Model.Fields)
            {
                <p class="mb-1">@field.GetFieldName()</p>
                <p class="mb-1">@field.GetFieldValue()</p>
            }
            <div class="d-flex w-100 justify-content-between mb-1">
                <p class="mb-1">@Localizer["Likes"] @Html.DisplayFor(model => Model.Likes)</p>
                <a asp-controller="Item" asp-action="Like" asp-route-itemId="@Model.Id" class="btn btn-danger">@Localizer["Like"]</a>
            </div>
            <form asp-controller="Item" asp-action="Comment" asp-route-itemId="@Model.Id">
                <textarea class="form-control" placeholder="@Localizer["CommentPlaceholder"]" name="commentText" rows="3"></textarea>
                <br>
                <button type="submit" class="btn btn-info">@Localizer["Submit"]</button>
                <div class="clearfix"></div>
                <hr>
            </form>
            <ul class="list-group">
                @foreach (var comment in Model.Comments)
                {
                <li>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <span class="text-muted pull-right">
                            <small class="text-muted">@Html.DisplayFor(model => comment.Date)</small>
                        </span>
                        <strong>@Html.DisplayFor(model => comment.Username)</strong>
                        <p>@Html.DisplayFor(model => comment.Text)</p>
                    </a>
                </li>
                }
            </ul>
        </div>
    </div>
</div>